In [13]:
import pandas as pd
data = {'A':[5,6,7,4,3],'B':[8,9,66,56,34],'C':[78,67,5,32,12]}
df = pd.DataFrame(data)
index = [i for i in range(1,len(df)*2)]
index = [index[0::2]]
df = pd.DataFrame(data,index)

In [14]:
df

   A   B   C
1  5   8  78
3  6   9  67
5  7  66   5
7  4  56  32
9  3  34  12