In [4]:
import pandas as pd
data = {"Date":["2023-01-01","2023-01-02","2023-01-03","2023-01-04","2023-01-05"]}
df = pd.DataFrame(data)
df["Date"] = pd.to_datetime(df["Date"])
df['Weekday'] = df['Date'].dt.strftime('%A')
df

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday