In [9]:
import pandas as pd
data = {'Text':["Nishant","Datascience master","Pwskill","Sudhanshu"]}
df = pd.DataFrame(data)
df['Word_count'] = df['Text'].str.split().str.len()
df

                 Text  Word_count
0             Nishant           1
1  Datascience master           2
2             Pwskill           1
3           Sudhanshu           1